main {
   max-width: 840px;
}



aside {
    width: 1rem;
    margin: 1rem;
    border: 1px solid rgba(0,0,0 0.2); /* 1 */
    padding: 1rem;
    background-color: #7723ff;
    color: bisque;
    text-align: center;
}
aside, img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 13px;
    border-top: 1px solid #54adff;
    text-align:center;
}